In [22]:
import os
import pandas as pd
from tqdm.notebook import tqdm

In [2]:
data_dir = os.path.join(os.getcwd(), "data")

In [3]:
crime_2023 = pd.read_csv(os.path.join(data_dir, "incidents_part1_part2_2023.csv"))

In [4]:
crime_2023.head()

,the_geom,cartodb_id,the_geom_webmercator,objectid,dc_dist,psa,dispatch_date_time,dispatch_date,dispatch_time,hour,dc_key,location_block,ucr_general,text_general_code,point_x,point_y,lat,lng
0,0101000020E6100000A51C8299A5C752C006342AD3DCFF...,2,0101000020110F0000F80DE2A145E65FC1E5EC7592BE8F...,114,25,3,2023-03-11 17:12:00+00,2023-03-11,12:12:00,12.0,2.023250e+11,3300 BLOCK HARTVILLE ST,300,Robbery No Firearm,-75.119482,39.998927,39.998927,-75.119482
1,0101000020E6100000F9245E3B64CC52C0B7195D940FF6...,4,0101000020110F00000426B7CE54EE5FC1C5E06D37E284...,116,1,1,2023-03-11 18:31:00+00,2023-03-11,13:31:00,13.0,2.023010e+11,2400 BLOCK S 28TH ST,600,Theft from Vehicle,-75.193618,39.922350,39.922350,-75.193618
2,0101000020E6100000118A52E7F6C052C0CFF41263190C...,7,0101000020110F00006728CED7EBDA5FC169DB64F8519D...,119,8,2,2023-03-11 22:13:00+00,2023-03-11,17:13:00,17.0,2.023080e+11,9800 BLOCK Roosevelt Blvd,600,Thefts,-75.015070,40.094525,40.094525,-75.015070
3,0101000020E6100000E1F9FB7B5FC552C0159C0B6D4A02...,123,0101000020110F00009D28D4D968E25FC13CD5C3D06F92...,96,15,1,2023-03-11 12:42:00+00,2023-03-11,07:42:00,7.0,2.023150e+11,4700 BLOCK GRISCOM ST,600,Thefts,-75.083953,40.017896,40.017896,-75.083953
4,0101000020E6100000D1CCD5875CCA52C014B723FFC005...,126,0101000020110F00002F28E30AE2EA5FC10090A3314796...,99,14,1,2023-03-12 00:54:00+00,2023-03-11,19:54:00,19.0,2.023140e+11,5500 BLOCK BLOYD ST,300,Robbery No Firearm,-75.161898,40.044952,40.044952,-75.161898

In [5]:
crime_2023.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 169017 entries, 0 to 169016
Data columns (total 18 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   the_geom              162005 non-null  object
 1   cartodb_id            169017 non-null  int64
 2   the_geom_webmercator  161952 non-null  object
 3   objectid              169017 non-null  int64
 4   dc_dist               169017 non-null  int64
 5   psa                   168954 non-null  object
 6   dispatch_date_time    169017 non-null  object
 7   dispatch_date         169017 non-null  object
 8   dispatch_time         169017 non-null  object
 9   hour                  68398 non-null   float64
 10  dc_key                169017 non-null  float64
 11  location_block        168967 non-null  object
 12  ucr_general           169017 non-null  int64
 13  text_general_code     169017 non-null  object
 14  point_x               161952 non-null  float64
 15  point_y               161952 non-null  float64
 16  lat                   161952 non-null  float64
 17  lng                   161952 non-null  float64
dtypes: float64(6), int64(4), object(8)
memory usage: 23.2+ MB

In [6]:
crime_2023.shape

(169017, 18)

In [7]:
crime_2013 = pd.read_csv(os.path.join(data_dir, "incidents_part1_part2_2013.csv"))

In [20]:
crime_2013.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 179235 entries, 0 to 179234
Data columns (total 15 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   objectid            179235 non-null  int64
 1   dc_dist             179235 non-null  int64
 2   psa                 179210 non-null  object
 3   dispatch_date_time  179235 non-null  object
 4   dispatch_date       179235 non-null  object
 5   dispatch_time       179235 non-null  object
 6   hour                179235 non-null  int64
 7   dc_key              179235 non-null  float64
 8   location_block      179234 non-null  object
 9   ucr_general         179235 non-null  int64
 10  text_general_code   179235 non-null  object
 11  point_x             176690 non-null  float64
 12  point_y             176690 non-null  float64
 13  lat                 176690 non-null  float64
 14  lng                 176690 non-null  float64
dtypes: float64(5), int64(4), object(6)
memory usage: 20.5+ MB

In [8]:
crime_2013.head()

,objectid,dc_dist,psa,dispatch_date_time,dispatch_date,dispatch_time,hour,dc_key,location_block,ucr_general,text_general_code,point_x,point_y,lat,lng
0,1157,12,3,2013-08-09 15:13:00+00,2013-08-09,11:13:00,11,2.013121e+11,6200 BLOCK REEDLAND ST,400,Aggravated Assault Firearm,-75.227016,39.925326,39.925326,-75.227016
1,1166,6,3,2013-04-15 17:37:00+00,2013-04-15,13:37:00,13,2.013060e+11,S 08TH ST / SPRUCE ST,600,Thefts,-75.154762,39.945739,39.945739,-75.154762
2,1168,16,2,2013-01-21 17:53:00+00,2013-01-21,12:53:00,12,2.013160e+11,5100 BLOCK HAVERFORD AVE,500,Burglary Residential,-75.222331,39.964343,39.964343,-75.222331
3,1173,35,3,2013-05-25 21:21:00+00,2013-05-25,17:21:00,17,2.013350e+11,6000 BLOCK N BROAD ST,600,Thefts,-75.144615,40.044571,40.044571,-75.144615
4,1174,35,1,2013-04-17 16:49:00+00,2013-04-17,12:49:00,12,2.013350e+11,6000 BLOCK N BROAD ST,600,Thefts,-75.144615,40.044571,40.044571,-75.144615

In [10]:
columns_2013 = set(crime_2013.columns.values.tolist())

In [11]:
columns_2023 = set(crime_2023.columns.values.tolist())

In [12]:
columns_2023 - columns_2013

{'cartodb_id', 'the_geom', 'the_geom_webmercator'}

In [17]:
years_previous_nomenclature = []
years_current_nomenclature = []

for root, dirs, files in os.walk(data_dir):
    for file in files:
        if file.endswith(".csv"):
            file_path = os.path.join(root, file)
            df = pd.read_csv(file_path)
            columns_diff = set(crime_2023.columns.values.tolist()) - set(df.columns.values.tolist())
            print(f"Year: {file[-8:-4]}, {columns_diff}")
            if len(columns_diff) != 0: 
                years_previous_nomenclature.append(int(file[-8:-4]))
            else:
                years_current_nomenclature.append(int(file[-8:-4]))

Year: 2013, {'cartodb_id', 'the_geom_webmercator', 'the_geom'}
Year: 2014, {'cartodb_id', 'the_geom_webmercator', 'the_geom'}
Year: 2015, {'cartodb_id', 'the_geom_webmercator', 'the_geom'}
Year: 2016, {'cartodb_id', 'the_geom_webmercator', 'the_geom'}
Year: 2017, {'cartodb_id', 'the_geom_webmercator', 'the_geom'}
Year: 2018, {'cartodb_id', 'the_geom_webmercator', 'the_geom'}
Year: 2019, {'cartodb_id', 'the_geom_webmercator', 'the_geom'}
Year: 2020, set()
Year: 2021, set()
Year: 2022, set()
Year: 2023, set()

In [18]:
years_current_nomenclature

[2020, 2021, 2022, 2023]

In [19]:
years_previous_nomenclature

[2013, 2014, 2015, 2016, 2017, 2018, 2019]

In [26]:
for root, dirs, files in os.walk(data_dir):
    for file in tqdm(files, colour="green", desc="Files processed"):
        if file.endswith(".csv"):
            file_path = os.path.join(root, file)
            parquet_path = file_path.replace(".csv", ".parquet")
            df = pd.read_csv(file_path)
            df.to_parquet(parquet_path)

Files processed:   0%|          | 0/22 [00:00<?, ?it/s]