In [28]:
import os 
import pandas as pd

In [29]:
current_working_directory = os.getcwd()
DATA_DIR=os.path.join(current_working_directory, 'data')

In [30]:
tokyo= pd.read_csv(os.path.join(DATA_DIR,'dataset_TSMC2014_TKY.csv'))
new_york= pd.read_csv(os.path.join(DATA_DIR,'dataset_TSMC2014_NYC.csv'))

In [31]:
tokyo.head()

,userId,venueId,venueCategoryId,venueCategory,latitude,longitude,timezoneOffset,utcTimestamp
0,1541,4f0fd5a8e4b03856eeb6c8cb,4bf58dd8d48988d10c951735,Cosmetics Shop,35.705101,139.619590,540,Tue Apr 03 18:17:18 +0000 2012
1,868,4b7b884ff964a5207d662fe3,4bf58dd8d48988d1d1941735,Ramen / Noodle House,35.715581,139.800317,540,Tue Apr 03 18:22:04 +0000 2012
2,114,4c16fdda96040f477cc473a5,4d954b0ea243a5684a65b473,Convenience Store,35.714542,139.480065,540,Tue Apr 03 19:12:07 +0000 2012
3,868,4c178638c2dfc928651ea869,4bf58dd8d48988d118951735,Food & Drink Shop,35.725592,139.776633,540,Tue Apr 03 19:12:13 +0000 2012
4,1458,4f568309e4b071452e447afe,4f2a210c4b9023bd5841ed28,Housing Development,35.656083,139.734046,540,Tue Apr 03 19:18:23 +0000 2012

In [32]:
from dateutil import parser
tokyo['date'] = tokyo['utcTimestamp'].apply(lambda x: parser.parse(x).date())
tokyo['time'] = tokyo['utcTimestamp'].apply(lambda x: parser.parse(x).time())
new_york['date'] = new_york['utcTimestamp'].apply(lambda x: parser.parse(x).date())
new_york['time'] = new_york['utcTimestamp'].apply(lambda x: parser.parse(x).time())

In [34]:
tokyo.to_parquet(os.path.join(DATA_DIR,'tokyo.parquet'))
new_york.to_parquet(os.path.join(DATA_DIR,'new_york.parquet'))

In [35]:
tokyo['city']='Tokyo'
new_york['city']='New York'
data=pd.concat([tokyo, new_york], ignore_index=True)

In [36]:
data.to_parquet(os.path.join(DATA_DIR,'tokyo_newyork.parquet'))