In [23]:
import os
import pandas as pd
import geopandas as gpd
from shapely.geometry import Point, LineString

In [24]:
path = 'data/test_list.parquet'

In [25]:
data = pd.read_parquet(path)

In [26]:
data.columns

Index(['taxi_id', 'date_time', 'lon', 'lat', 'arrays_geometry'], dtype='object')

In [27]:
data['geometry'] = data['arrays_geometry'].map(LineString)

In [28]:
data_gdf = gpd.GeoDataFrame(data.drop(['arrays_geometry'], axis = 1), geometry='geometry', crs='EPSG:4326')
data_gdf = data_gdf.set_index('taxi_id')

In [29]:
data_gdf.head()

,date_time,lon,lat,geometry
taxi_id,,,,
1,"[2008-02-02T15:36:08.000000, 2008-02-02T15:46:...","[116.51172, 116.51135, 116.51135, 116.51627, 1...","[39.92123, 39.93883, 39.93883, 39.91034, 39.91...","LINESTRING (116.51172 39.92123, 116.51135 39.9..."
1000,"[2008-02-02T13:34:52.000000, 2008-02-02T13:39:...","[116.48361, 116.48347, 116.51384, 116.51359, 1...","[39.94491, 39.91869, 39.8919, 39.89197, 39.872...","LINESTRING (116.48361 39.94491, 116.48347 39.9..."
10004,"[2008-02-03T09:21:37.000000, 2008-02-04T02:35:...","[116.58327, 116.48178, 116.34258, 116.34258, 1...","[40.11703, 39.98753, 39.78857, 39.78857, 39.94...","LINESTRING (116.58327 40.11703, 116.48178 39.9..."
1001,"[2008-02-02T13:38:39.000000, 2008-02-02T13:43:...","[116.42116, 116.42972, 116.44064, 116.44107, 1...","[39.83864, 39.845, 39.83548, 39.83129, 39.7933...","LINESTRING (116.42116 39.83864, 116.42972 39.8..."
10014,"[2008-02-02T13:37:28.000000, 2008-02-02T13:42:...","[116.47312, 116.47323, 116.47319, 116.47323, 1...","[39.91909, 39.91904, 39.91895, 39.91905, 39.91...","LINESTRING (116.47312 39.91909, 116.47323 39.9..."