In [1]:
import movingpandas as mpd
import geopandas as gpd
import pandas as pd
from datetime import datetime, timedelta
from shapely.geometry import LineString, Point
from shapely.wkt import loads

In [2]:
hvplot_defaults = {'tiles':'CartoLight', 'frame_height':320, 'frame_width':320, 'cmap':'Viridis', 'colorbar':True}
kwargs = {**hvplot_defaults, 'c':'speed', 'line_width':7, 'clim':(0,20)}

In [3]:
gdf = gpd.read_parquet('output_data/geolife.parquet')

In [4]:
gdf['time'] = pd.to_datetime(gdf['time'])
gdf.crs = 'EPSG:4326'

In [5]:
gdf.head()

,latitude,longitude,altitude,date,date_str,time,trajectory_id,mode,geometry,user_id
0,39.974294,116.399741,492.0,39816.056644,2009-01-03,2009-01-03 01:21:34,20090103012134,unknown,POINT (116.39974 39.97429),135
1,39.974292,116.399592,492.0,39816.056655,2009-01-03,2009-01-03 01:21:35,20090103012134,unknown,POINT (116.39959 39.97429),135
2,39.974309,116.399523,492.0,39816.056667,2009-01-03,2009-01-03 01:21:36,20090103012134,unknown,POINT (116.39952 39.97431),135
3,39.974320,116.399588,492.0,39816.056690,2009-01-03,2009-01-03 01:21:38,20090103012134,unknown,POINT (116.39959 39.97432),135
4,39.974365,116.399730,491.0,39816.056701,2009-01-03,2009-01-03 01:21:39,20090103012134,unknown,POINT (116.39973 39.97436),135

In [6]:
gdfc = gdf[:500000].copy()

In [7]:
traj_col = mpd.TrajectoryCollection(gdfc,'trajectory_id', t = 'time')

In [8]:
traj_col.add_speed(overwrite = True)
traj_col.add_timedelta(overwrite = True)
traj_col.add_direction(overwrite = True)

In [9]:
# traj_col.trajectories[6].hvplot(**kwargs)+traj_col.trajectories[5].hvplot(**kwargs)+traj_col.trajectories[1].hvplot(**kwargs)

In [10]:
results = traj_col.to_point_gdf()
results.head()

,latitude,longitude,altitude,date,date_str,trajectory_id,mode,geometry,user_id,speed,timedelta,direction
time,,,,,,,,,,,,
2007-04-12 10:18:53,39.975517,116.330283,351.049869,39184.429780,2007-04-12,20070412101853,unknown,POINT (116.33028 39.97552),161,0.467436,NaT,15.013958
2007-04-12 10:20:15,39.975850,116.330400,114.829396,39184.430729,2007-04-12,20070412101853,unknown,POINT (116.33040 39.97585),161,0.467436,0 days 00:01:22,15.013958
2007-04-12 10:21:27,39.975983,116.330467,114.829396,39184.431563,2007-04-12,20070412101853,unknown,POINT (116.33047 39.97598),161,0.220307,0 days 00:01:12,20.964677
2007-04-12 10:21:53,39.976100,116.330500,118.110236,39184.431863,2007-04-12,20070412101853,unknown,POINT (116.33050 39.97610),161,0.510125,0 days 00:00:26,12.349827
2007-04-12 10:23:15,39.976233,116.330567,118.110236,39184.432813,2007-04-12,20070412101853,unknown,POINT (116.33057 39.97623),161,0.193440,0 days 00:01:22,20.964607

In [11]:
results.shape

(499995, 12)

In [70]:
# results.to_parquet('geolife_points.parquet')

In [15]:
my_traj = traj_col.trajectories[22].df

In [14]:
# my_traj.hvplot(**kwargs)

In [16]:
my_traj.head()

,latitude,longitude,altitude,date,date_str,trajectory_id,mode,geometry,user_id,speed,timedelta,direction
time,,,,,,,,,,,,
2007-04-30 10:56:04,39.975417,116.329233,187.007874,39202.455602,2007-04-30,20070430105604,unknown,POINT (116.32923 39.97542),134,0.579540,NaT,204.085672
2007-04-30 10:56:46,39.975217,116.329117,187.007874,39202.456088,2007-04-30,20070430105604,unknown,POINT (116.32912 39.97522),134,0.579540,0 days 00:00:42,204.085672
2007-04-30 10:57:10,39.975033,116.329317,187.007874,39202.456366,2007-04-30,20070430105604,unknown,POINT (116.32932 39.97503),134,1.107325,0 days 00:00:24,140.104677
2007-04-30 10:57:46,39.975033,116.329800,187.007874,39202.456782,2007-04-30,20070430105604,unknown,POINT (116.32980 39.97503),134,1.146909,0 days 00:00:36,89.999845
2007-04-30 10:58:40,39.975050,116.330533,187.007874,39202.457407,2007-04-30,20070430105604,unknown,POINT (116.33053 39.97505),134,1.160598,0 days 00:00:54,88.301012